extends ../layout

block content
    h1 Already exists APIs
    dl
        dt 获取鉴定列表[get]
        dd 
            a(href=url+"/emrms/interpretable" target="view_api") #{url}/emrms/interpretable
        each api in apis
            dt #{api.name}[#{api.method}]
            dd
                a(href=api.path) #{api.path}